.sync-left-capsule{
    display: flex;
    height: 60rpx;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 170rpx;
    border-radius: 50rpx;
    border: 2rpx solid rgba(219,220,219,0.6);
    box-shadow:0px 0px 1px 0.2px white;
    background: rgba(255,255,255,1);
    margin-left: 20rpx;
    position: relative;
    // right: 14rpx;
    // top: 48rpx;
    .left, .right {
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((100% - 2rpx) / 2);
    }
    .midd {
      flex: 0 0 1rpx;
      height: 36rpx;
      width: 1rpx;
      background-color: #CCCCCC;
    }
    .left {
      justify-content: flex-end;
      .home-img {
        width: 60rpx;
        height: 100%;
        transform: translateX(-6rpx);
      }
      .back-img {
        width: 60rpx;
        height: 100%;
        transform: translateX(-6rpx);
      }
    }
    .right {
      justify-content: flex-start;
      .menu-img {
        width: 60rpx;
        height: 100%;
        transform: translateX(4rpx);
      }
    }
  .nav-menu {
    position: absolute;
    left: 20rpx;
    z-index: 10071;
    width: 242rpx;
    height: 184rpx;
    box-shadow: 0px 2px 80px rgba(0,0,0,0.16);
    border-radius: 16rpx;
    padding: 0rpx 30rpx;
    // top: 57rpx;
    // background-color: red;
    .menu-list {
      font-size: 48rpx;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menu-item {
        display: flex;
        align-items: center;
        height: 50%;
        position: relative;
        &:nth-last-of-type(1) {
          border: none;
        }
        .iconfont {
          height: 44rpx;
          width: 44rpx;
          line-height: 44rpx;
          font-size: 44rpx;
          color: #222222;
          margin-right: 16rpx;
          &.icona-03gengduo_shoucang-11 {
            color: #FF4D21;
          }
        }
        .label {
          color: #222222;
          font-size: 30rpx;
          font-weight: 400;
          font-family: "PingFang SC";
          text-align: center;
          height: 44rpx;
          line-height: 44rpx;
        }
      }
      .menu-item:first-child::after{
        width: 100%;
        height: 2rpx;
        background-color: #eeeeee;
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
      }
      u-icon{
        transform: translateY(4rpx);
      }
    }
    .nav-menu-bg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
  .u-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: transform 0.3s;
	}
	.u-mask-show {
		opacity: 1;
	}
}
.sync-left-capsule-single{
  width: 60rpx;
  .single-btn{
    height: 100%;
    width: 100%;
    .back-img{
      height: 100%;
      width: 100%;
    }
  }
}
    