.sync-left-capsule{
    display: flex;
    height: 60rpx;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 170rpx;
    border-radius: 50rpx;
    border: 2rpx solid rgba(219,220,219,0.6);
    box-shadow:0px 0px 1px 0.2px white;
    background: rgba(255,255,255,1);
    margin-left: 20rpx;
    position: relative;
    // right: 14rpx;
    // top: 48rpx;
    .left, .right {
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((100% - 2rpx) / 2);
    }
    .midd {
      flex: 0 0 1rpx;
      height: 36rpx;
      width: 1rpx;
      background-color: #CCCCCC;
    }
    .left {
      justify-content: flex-end;
      .home-img {
        width: 60rpx;
        height: 100%;
        // transform: translateX(-10rpx);
      }
      .back-img {
        width: 60rpx;
        height: 100%;
      }
    }
    .right {
      justify-content: flex-start;
      .menu-img {
        width: 60rpx;
        height: 100%;
        // transform: translateX(10rpx);
      }
    }
  .nav-menu {
    position: absolute;
    left: 0rpx;
    z-index: 6;
    width: 232rpx;
    height: 202rpx;
    box-shadow: 0px 2px 2px #ddd;
    border-radius: 16rpx;
    top: 57rpx;
    background-color: red;
    .menu-list {
      padding: 16rpx 24rpx 0 24rpx;
      font-size: 48rpx;
      height: 100%;
      .menu-item {
        display: flex;
        align-items: center;
        height: 90rpx;
        border-bottom: 2rpx solid #EEEEEE;
        &:nth-last-of-type(1) {
          border: none;
        }
        .iconfont {
          font-size: 42rpx;
          color: #222222;
          margin-right: 14rpx;
          &.icona-03gengduo_shoucang-11 {
            color: #FF4D21;
          }
        }
        .label {
          color: #222222;
          font-size: 30rpx;
          font-weight: 400;
          font-family: "PingFang SC";
          text-align: center;
          margin-left: 20rpx;
        }
      }
      u-icon{
        transform: translateY(4rpx);
      }
    }
    .nav-menu-bg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
}
    